# Directories
node_modules/
dist/

# Logs
logs
*.log

# Dependency directories
puppeteer/
chromium/

# Environment variables
.env

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db