<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu"><span
            class="navbar-toggler-icon"></span></button>

    <!-- Brand -->
    <a class="nav-link px-0 text-info" href="/manage">
        <h3 class="fw-bold">Administration</h3>
    </a>
</nav>
<!-- Navbar -->
<nav id="sidebarMenu" class="collapse d-md-block bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush">
            <a href="/manage/order" class="list-group-item list-group-item-action py-4 bg-info text-light">Order
                management</a>
            <a href="/manage/category" class="list-group-item list-group-item-action py-4 bg-info text-light">Category
                management</a>
            <a href="/manage/supplier" class="list-group-item list-group-item-action py-4 bg-info text-light">Supplier
                management</a>
            <a href="/manage/shop" class="list-group-item list-group-item-action py-4 bg-info text-light">Shop
                management</a>
            <a href="/manage/product?page=1" class="list-group-item list-group-item-action py-4 bg-info text-light">Product
                management</a>
        </div>
    </div>
</nav>