<link rel="stylesheet" href="/css/checkout.css">
<div class="justify-content-center">
    <div class="card">
        <div class="p-2 mt-3 justify-content-between">
            <div class="text-center">
                <img class="irc_mi img-fluid cursor-pointer " src="/img/THELIGHTTOY.png" width="70" height="70">
            </div>
        </div>
        <div class="mx-auto text-center">
            <div class="mt-3">
                <nav aria-label="breadcrumb" class="second ">
                    <ol class="breadcrumb indigo lighten-6 first  ">
                        <li class="breadcrumb-item font-weight-bold "><a class="black-text text-uppercase "
                                href="/shop"><span class="mr-md-3 mr-1">BACK TO SHOP</span></a><i
                                class="bi bi-chevron-double-right"></i>
                        </li>
                        <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase"
                                href="/cart"><span class="mr-md-3 mr-1">SHOPPING BAG</span></a><i
                                class="bi bi-chevron-double-right"></i>
                        </li>
                        <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase active-2"
                                href="#"><span class="mr-md-3 mr-1">CHECKOUT</span></a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header pb-0">
                        <h2 class="card-title space ">Checkout</h2>
                        <p class="card-text text-muted mt-4  space">PAYMENT DETAILS</p>
                        <hr class="my-0">
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="NAME" class="text-muted mb-1">Recipient's name</label>
                            <input type="text" class="form-control form-control-sm" name="NAME" id="NAME">
                        </div>
                        <div class="form-group">
                            <label for="NAME" class="text-muted mb-1">Telephone</label>
                            <input type="text" class="form-control form-control-sm" name="NAME" id="NAME">
                        </div>
                        <div class="form-group">
                            <label for="NAME" class="text-muted mb-1">Address</label>
                            <input type="text" class="form-control form-control-sm" name="NAME" id="NAME">
                        </div>
                        <div class="row mb-md-5">
                            <div class="col">
                                <button type="button" name="" id=""
                                    class="btn btn-checkout btn-block mt-3">PURCHASE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header card-2">
                        <p class="card-text text-muted mt-md-4  mb-2 space">YOUR ORDER</p>
                        <hr class="my-2">
                    </div>
                    <div class="card-body pt-0">
                        <div class="row  justify-content-between">
                            <div class="col-auto col-md-7">
                                <div class="media flex-column flex-sm-row">
                                    <img class=" img-fluid" src="https://i.imgur.com/6oHix28.jpg" width="62"
                                        height="62">
                                    <div class="media-body  my-auto">
                                        <div class="row ">
                                            <div class="col-auto">
                                                <p class="mb-0"><b>EC-GO Bag Standard</b></p><small class="text-muted">1
                                                    Week Subscription</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" pl-0 flex-sm-col col-auto  my-auto">
                                <p class="boxed-1">2</p>
                            </div>
                            <div class=" pl-0 flex-sm-col col-auto  my-auto ">
                                <p><b>179 SEK</b></p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row  justify-content-between">
                            <div class="col-auto col-md-7">
                                <div class="media flex-column flex-sm-row">
                                    <img class=" img-fluid " src="https://i.imgur.com/9MHvALb.jpg" width="62"
                                        height="62">
                                    <div class="media-body  my-auto">
                                        <div class="row ">
                                            <div class="col">
                                                <p class="mb-0"><b>EC-GO Bag Standard</b></p><small class="text-muted">2
                                                    Week Subscription</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-0 flex-sm-col col-auto  my-auto">
                                <p class="boxed">3</p>
                            </div>
                            <div class="pl-0 flex-sm-col col-auto my-auto">
                                <p><b>179 SEK</b></p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row  justify-content-between">
                            <div class="col-auto col-md-7">
                                <div class="media flex-column flex-sm-row">
                                    <img class=" img-fluid " src="https://i.imgur.com/6oHix28.jpg" width="62"
                                        height="62">
                                    <div class="media-body  my-auto">
                                        <div class="row ">
                                            <div class="col">
                                                <p class="mb-0"><b>EC-GO Bag Standard</b></p><small class="text-muted">2
                                                    Week Subscription</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-0 flex-sm-col col-auto  my-auto">
                                <p class="boxed-1">2</p>
                            </div>
                            <div class="pl-0 flex-sm-col col-auto my-auto">
                                <p><b>179 SEK</b></p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row ">
                            <div class="col">
                                <div class="form-cart">
                                    <p class="card-text text-muted space">SHIPPING</p>
                                    <select name="shipping" id='shipping' onchange="Shipping(this)">
                                        <option value="0.00" class="text-muted">Choose delivery method</option>
                                        <option value="5.00" class="text-muted">Standard-Delivery-$5.00</option>
                                        <option value="10.00" class="text-muted">Fast-Delivery-$10.00</option>
                                    </select>
                                </div>
                                <hr class="mt-0">
                                <div class="row justify-content-between">
                                    <div class="col-4">
                                        <p class="mb-1"><b>Subtotal</b></p>
                                        <input type="hidden" name="" id="before-shipping" value="20">
                                    </div>
                                    <div class="flex-sm-col col-auto">
                                        <p class="mb-1"><b>179 SEK</b></p>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <p class="mb-1"><b>Shipping</b></p>
                                    </div>
                                    <div class="flex-sm-col col-auto">
                                        <p class="mb-1"><b>0 SEK</b></p>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col-4">
                                        <p><b>Total</b></p>
                                    </div>
                                    <div class="flex-sm-col col-auto">
                                        <p class="mb-1"><b id="total">537 SEK</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Shipping(obj) {
        var total = document.getElementById("total")
        var price = parseFloat(document.getElementById("before-shipping").value)
        var value = parseFloat(obj.value)
        var sum = price + value

        if (value === 0.00) {
            total.innerHTML = "Choose shipping method"
        } else if (value === 5.00) {
            total.innerHTML = "$" + sum
        } else if (value === 10.00) {
            total.innerHTML = "$" + sum
        }
    }
</script>