<script>
    function formValid() {
        var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
        f = document.formAddcategory
        if (format.test(f.name.value)) {
            alert("Category name can't contain special character, please enter again");
            f.name.focus();
            return false;
        }
        if (format.test(f.description.value)) {
            alert("Category description can't contain special character, please enter again");
            f.txtCatDesc.focus();
            return false;
        }
        return true;
    }
</script>

<section class="row">
    <div class="col-lg-2 col-md-3 content-left pr-0">
        {{> navmanage }}
    </div>
    <div class="pt-3 col-lg-10 col-md-9 col-12">
        <h1 class="text-center pb-4">Adding Category</h1>
        <form id="formAddcategory" name="formAddcategory" method="POST" action="add/store" enctype="multipart/form-data"
            onsubmit="return formValid()">

            <div class="form-group">
                <label class="form-label font-weight-bold" for="txtCatName">Category Name</label>
                <input type="text" name="name" id="txtCatName" class="form-control" placeholder="" required />
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="txtCatDesc">Category Description</label>
                <input type="text" name="description" id="txtCatDesc" class="form-control" placeholder="" required />
            </div>

            <div class="form-group">
                <label for="catImage" class="form-label font-weight-bold">Category Image</label>
                <input type="file" name="image" id="catImage" class="form-control-file" required />
            </div>

            <div class="form-group text-center">
                <input type="submit" class="btn btn-info" name="btnAdd" value="Add new" />
                <input type="button" class="btn btn-info" name="btnIgnore" value="Cancel"
                    onclick="window.location='/manage/category'" />
            </div>
        </form>
    </div>
</section>